// Helpers

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.round {
  border-radius: 50%;
}

// Colours

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.teal {
  color: $teal;
}

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.yellow {
  color: $yellow;
}

.pink {
  color: $pink;
}

.purple {
  color: $purple;
}

