body {
  font-size: $font-size;
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5, 
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.6875rem;
  font-weight: 400;
}
h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.5625rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1rem;
}

h5,
.h5 {
  font-size: 0.8125;
}

p {
  margin-bottom: 1.3rem;
  line-height: 1.6875rem;
}

blockquote {
  margin: 1.25rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid #58D4FF;
  font-size: 1.14rem;
  line-height: 2;
  color: #8B98A9;
}

.turncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}